.nav{
  background-color:whitesmoke;
  height:14vh;
}

.posts-link{
  text-align: right;
  margin-top: 4vmin;
  font-size: large;
  color:black;
}

.x{
  color:black;
}

.logo{
  color:wheat;
}
.x{
  color:black;

}

.cards{
  margin-top: 10vmin;
  display: flex;
  justify-content: center;
}

