.contact{
    background-color: yellow;
}

.contactCard{
    display: flex;
    justify-content: center;
    text-align: center;
    height:32rem;
}

.contactText{
    text-align: center;
    justify-content: center;
}